
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 204.3rem;
}.about-page-NJR {
  width: 100%;
  height: 166.6rem;

  .auto-group-tn5k-Jhs {
    position: relative;
    width: 143.9rem;
    height: 100%;

    .mask-group-dVF {
      left: 23.8rem;
      top: 19.6rem;
      width: 24.4rem;
      height: 24rem;
      position: absolute;
    }
    .rectangle-5-xXX {
      background-color: #f5f4f2;
      width: 143.9rem;
      height: 166.6rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .home-page-6td {
      width: 13.9rem;
      height: 3.2rem;
      top: 7.3616rem;
      font-size: 2.4rem;
      font-weight: 400;
      font-family: Inika, 'Source Sans Pro';
      position: absolute;
      left: 58.4259rem;
      line-height: 1.3025;
      color: #000000;
      white-space: nowrap;
    }
    .barcina-baV {
      position: absolute;
      top: 6rem;
      color: #292420;
      white-space: nowrap;
      width: 19.7rem;
      height: 4.9rem;
      left: 17.1rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2175;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .flex-page-WhT {
      width: 12.7rem;
      font-weight: 400;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
      left: 119.55rem;
      top: 7.1rem;
      font-size: 2.4rem;
      line-height: 1.3025;
    }
    .it-blog-page-pi9 {
      line-height: 1.3025;
      color: #000000;
      white-space: nowrap;
      top: 7.1rem;
      font-weight: 400;
      position: absolute;
      left: 98.95rem;
      font-size: 2.4rem;
      font-family: Inika, 'Source Sans Pro';
      width: 15.9rem;
      height: 3.2rem;
    }
    .about-page-8D3 {
      left: 81.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #7b6a5d;
      width: 15rem;
      height: 3.2rem;
      position: absolute;
      top: 7.1rem;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
    }
    .image-1-qt9 {
      width: 9.5rem;
      height: 10.5rem;
      position: absolute;
      left: 6.8rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-6-BSD {
      width: 142.1rem;
      height: 1.1rem;
      position: absolute;
      left: 0.2rem;
      top: 159.1rem;
      background-color: #e2ca9a;
    }
    .facebook-icon-WjP {
      height: 6.2rem;
      position: absolute;
      left: 64.2rem;
      top: 160.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 5.9rem;
    }
    .ig-icon-Sd3 {
      position: absolute;
      left: 72rem;
      top: 159.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.4rem;
      height: 7rem;
    }
    .spotify-icon-ycy {
      position: absolute;
      left: 80.3rem;
      top: 159.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.6rem;
      height: 7.5rem;
    }
    .black-doodle-tools-for-generating-ideas-infographic-1-iKf {
      top: 13.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 58.1rem;
      height: 144rem;
      position: absolute;
      left: 78.4rem;
    }
    .rectangle-7-EJ1 {
      left: 9.4rem;
      top: 47.7rem;
      background-color: #d9d9d9;
      width: 67.2rem;
      height: 109.8rem;
      position: absolute;
    }
    .who-am-i-i-am-thrie-jie-barcina-18-years-old-i-live-in-new-ilocos-dalwangan-malaybalay-city-i-am-the-middle-child-of-five-siblings-i-have-three-sisters-and-one-brother-i-was-mold-spiritually-in-fundamental-baptist-churchi-am-a-christian-this-girl-is-a-nerd-with-brilliant-ideas-who-is-currently-taking-up-bachelor-of-information-technology-i-like-minimalist-colors-of-nude-and-green-because-it-represents-being-bold-peace-and-natural-that-embodies-my-personality-my-life-time-work-is-being-a-reader-reading-books-mostly-novels-fiction-or-nonfiction-with-the-fun-fact-500-plus-books-i-start-reading-books-when-im-still-in-grade-3-and-i-started-from-bedtime-story-books-to-dark-romance-im-also-a-huge-fan-being-a-fangirl-to-huge-k-pop-wave-like-exo-and-girls-generation-they-are-my-youth-and-many-reasons-because-they-molds-me-to-be-me-and-i-admire-them-greatly-because-of-how-dedicated-and-talented-they-are-im-more-of-a-paradox-than-being-attracted-to-sunrise-or-sunset-i-am-into-the-heavy-purring-rains-the-cruel-sound-emits-of-the-thunderstorm-and-the-sharp-blades-of-lightning-im-fond-of-the-dark-because-i-felt-peaceful-i-am-also-obsessed-with-dark-themes-like-gothic-dark-magic-witchcraft-and-myth-additionally-i-like-talking-to-random-strangers-foreign-or-local-peoples-because-im-fan-of-socializing-and-expressing-ideas-words-them-knowing-their-culture-and-adapting-their-culture-i-literally-grow-up-in-a-strict-household-the-religious-family-culture-and-isolation-MtR {
      height: 105.2rem;
      left: 12.2rem;
      top: 48.2rem;
      line-height: 1.3029999733;
      color: #191918;
      font-family: Inika, 'Source Sans Pro';
      width: 61.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      position: absolute;

      .who-am-i-i-am-thrie-jie-barcina-18-years-old-i-live-in-new-ilocos-dalwangan-malaybalay-city-i-am-the-middle-child-of-five-siblings-i-have-three-sisters-and-one-brother-i-was-mold-spiritually-in-fundamental-baptist-churchi-am-a-christian-this-girl-is-a-nerd-with-brilliant-ideas-who-is-currently-taking-up-bachelor-of-information-technology-i-like-minimalist-colors-of-nude-and-green-because-it-represents-being-bold-peace-and-natural-that-embodies-my-personality-my-life-time-work-is-being-a-reader-reading-books-mostly-novels-fiction-or-nonfiction-with-the-fun-fact-500-plus-books-i-start-reading-books-when-im-still-in-grade-3-and-i-started-from-bedtime-story-books-to-dark-romance-im-also-a-huge-fan-being-a-fangirl-to-huge-k-pop-wave-like-exo-and-girls-generation-they-are-my-youth-and-many-reasons-because-they-molds-me-to-be-me-and-i-admire-them-greatly-because-of-how-dedicated-and-talented-they-are-im-more-of-a-paradox-than-being-attracted-to-sunrise-or-sunset-i-am-into-the-heavy-purring-rains-the-cruel-sound-emits-of-the-thunderstorm-and-the-sharp-blades-of-lightning-im-fond-of-the-dark-because-i-felt-peaceful-i-am-also-obsessed-with-dark-themes-like-gothic-dark-magic-witchcraft-and-myth-additionally-i-like-talking-to-random-strangers-foreign-or-local-peoples-because-im-fan-of-socializing-and-expressing-ideas-words-them-knowing-their-culture-and-adapting-their-culture-i-literally-grow-up-in-a-strict-household-the-religious-family-culture-and-isolation-MtR-sub-0 {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2175;
        color: #191918;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .who-am-i-i-am-thrie-jie-barcina-18-years-old-i-live-in-new-ilocos-dalwangan-malaybalay-city-i-am-the-middle-child-of-five-siblings-i-have-three-sisters-and-one-brother-i-was-mold-spiritually-in-fundamental-baptist-churchi-am-a-christian-this-girl-is-a-nerd-with-brilliant-ideas-who-is-currently-taking-up-bachelor-of-information-technology-i-like-minimalist-colors-of-nude-and-green-because-it-represents-being-bold-peace-and-natural-that-embodies-my-personality-my-life-time-work-is-being-a-reader-reading-books-mostly-novels-fiction-or-nonfiction-with-the-fun-fact-500-plus-books-i-start-reading-books-when-im-still-in-grade-3-and-i-started-from-bedtime-story-books-to-dark-romance-im-also-a-huge-fan-being-a-fangirl-to-huge-k-pop-wave-like-exo-and-girls-generation-they-are-my-youth-and-many-reasons-because-they-molds-me-to-be-me-and-i-admire-them-greatly-because-of-how-dedicated-and-talented-they-are-im-more-of-a-paradox-than-being-attracted-to-sunrise-or-sunset-i-am-into-the-heavy-purring-rains-the-cruel-sound-emits-of-the-thunderstorm-and-the-sharp-blades-of-lightning-im-fond-of-the-dark-because-i-felt-peaceful-i-am-also-obsessed-with-dark-themes-like-gothic-dark-magic-witchcraft-and-myth-additionally-i-like-talking-to-random-strangers-foreign-or-local-peoples-because-im-fan-of-socializing-and-expressing-ideas-words-them-knowing-their-culture-and-adapting-their-culture-i-literally-grow-up-in-a-strict-household-the-religious-family-culture-and-isolation-MtR-sub-1 {
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2175;
        color: #191918;
      }
      .who-am-i-i-am-thrie-jie-barcina-18-years-old-i-live-in-new-ilocos-dalwangan-malaybalay-city-i-am-the-middle-child-of-five-siblings-i-have-three-sisters-and-one-brother-i-was-mold-spiritually-in-fundamental-baptist-churchi-am-a-christian-this-girl-is-a-nerd-with-brilliant-ideas-who-is-currently-taking-up-bachelor-of-information-technology-i-like-minimalist-colors-of-nude-and-green-because-it-represents-being-bold-peace-and-natural-that-embodies-my-personality-my-life-time-work-is-being-a-reader-reading-books-mostly-novels-fiction-or-nonfiction-with-the-fun-fact-500-plus-books-i-start-reading-books-when-im-still-in-grade-3-and-i-started-from-bedtime-story-books-to-dark-romance-im-also-a-huge-fan-being-a-fangirl-to-huge-k-pop-wave-like-exo-and-girls-generation-they-are-my-youth-and-many-reasons-because-they-molds-me-to-be-me-and-i-admire-them-greatly-because-of-how-dedicated-and-talented-they-are-im-more-of-a-paradox-than-being-attracted-to-sunrise-or-sunset-i-am-into-the-heavy-purring-rains-the-cruel-sound-emits-of-the-thunderstorm-and-the-sharp-blades-of-lightning-im-fond-of-the-dark-because-i-felt-peaceful-i-am-also-obsessed-with-dark-themes-like-gothic-dark-magic-witchcraft-and-myth-additionally-i-like-talking-to-random-strangers-foreign-or-local-peoples-because-im-fan-of-socializing-and-expressing-ideas-words-them-knowing-their-culture-and-adapting-their-culture-i-literally-grow-up-in-a-strict-household-the-religious-family-culture-and-isolation-MtR-sub-2 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2175;
        color: #191918;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
    .moth-1-LdB {
      width: 9.8rem;
      height: 8.6rem;
      position: absolute;
      left: 12.2rem;
      top: 75.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .all-1-5am {
      width: 31.1rem;
      height: 34.5rem;
      position: absolute;
      left: 27.4rem;
      top: 16rem;
      object-fit: cover;
      vertical-align: top;
    }
    .line-2-2F7 {
      background-color: #000000;
      width: 74.4rem;
      height: 0.1rem;
      position: absolute;
      left: 4rem;
      top: 13.5rem;
    }
  }
}
