
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.flex-page-rub {
  width: 100%;
  height: 232.2rem;

  .auto-group-srp3-WDT {
    width: 140.2977rem;
    height: 100%;
    position: relative;

    .mask-group-aMj {
      position: absolute;
      left: 19.8032rem;
      top: 21.5334rem;
      width: 16.7889rem;
      height: 22.1376rem;
    }
    .rectangle-5-5ZP {
      width: 140.2977rem;
      height: 232.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #f5f4f2;
    }
    .rectangle-12-BcR {
      width: 15.4912rem;
      height: 19.1rem;
      position: absolute;
      left: 89.3424rem;
      top: 38.2rem;
      background-color: #d9d9d9;
    }
    .home-page-7W5 {
      position: absolute;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      height: 3.2rem;
      left: 63.6211rem;
      top: 9.1rem;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.9rem;
    }
    .barcina-AjF {
      white-space: nowrap;
      position: absolute;
      top: 9rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2175;
      width: 19.7rem;
      height: 4.9rem;
      left: 15.1989rem;
      color: #292420;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .flex-page-GnH {
      top: 9rem;
      font-size: 2.4rem;
      white-space: nowrap;
      position: absolute;
      height: 3.2rem;
      left: 119.3505rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #7b6a5d;
      font-family: Inika, 'Source Sans Pro';
      width: 12.7rem;
    }
    .it-blog-page-aHB {
      left: 101.4235rem;
      font-size: 2.4rem;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.9rem;
      position: absolute;
      font-weight: 400;
      color: #000000;
      height: 3.2rem;
      top: 8.9rem;
    }
    .about-page-UdT {
      top: 8.8rem;
      white-space: nowrap;
      position: absolute;
      height: 3.2rem;
      left: 83.2043rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #231a08;
      font-family: Inika, 'Source Sans Pro';
      width: 15rem;
    }
    .image-1-zbo {
      top: 6.2215rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5367rem;
      height: 9.6852rem;
      position: absolute;
      left: 8.106rem;
    }
    .rectangle-6-7gR {
      width: 140.2977rem;
      height: 11.1rem;
      position: absolute;
      left: 0;
      top: 220.5rem;
      background-color: #e2ca9a;
    }
    .facebook-icon-egM {
      width: 4.0596rem;
      height: 5.7189rem;
      position: absolute;
      left: 55.4371rem;
      top: 225.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .ig-icon-mky {
      width: 4.4036rem;
      height: 6.4568rem;
      position: absolute;
      left: 60.9905rem;
      top: 224.4rem;
      object-fit: cover;
      vertical-align: top;
    }
    .spotify-icon-iAR {
      object-fit: cover;
      vertical-align: top;
      width: 4.5413rem;
      height: 6.918rem;
      position: absolute;
      left: 67.908rem;
      top: 224rem;
    }
    .rectangle-7-3Tb {
      left: 54.7551rem;
      top: 36.5rem;
      background-color: #d9d9d9;
      width: 33.8078rem;
      height: 33.6rem;
      position: absolute;
    }
    .rectangle-8-xaZ {
      width: 24.8444rem;
      height: 30.9rem;
      position: absolute;
      left: 28.839rem;
      top: 49.2rem;
      background-color: #d9d9d9;
    }
    .rectangle-9-6gm {
      width: 55.2422rem;
      height: 41rem;
      position: absolute;
      left: 54.7551rem;
      top: 71.7rem;
      background-color: #d9d9d9;
    }
    .my-soul-friend-sent-me-this-witchcraft-because-it-reminded-me-of-me-and-i-like-it-i-want-wanna-show-how-someone-reminisces-about-something-and-misses-you-and-at-the-same-time-they-truly-know-you-and-love-you-no-matter-how-far-they-are-SVj {
      font-weight: 400;
      line-height: 1.3025;
      color: #231a08;
      width: 23.7rem;
      font-size: 2.4rem;
      left: 3.7997rem;
      top: 37.5rem;
      font-family: Inika, 'Source Sans Pro';
      height: 45.9rem;
      position: absolute;

      .my-soul-friend-sent-me-this-witchcraft-because-it-reminded-me-of-me-and-i-like-it-i-want-wanna-show-how-someone-reminisces-about-something-and-misses-you-and-at-the-same-time-they-truly-know-you-and-love-you-no-matter-how-far-they-are-SVj-sub-0 {
        line-height: 1.3025;
        color: #231a08;
        font-family: Inika, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
      }
      .my-soul-friend-sent-me-this-witchcraft-because-it-reminded-me-of-me-and-i-like-it-i-want-wanna-show-how-someone-reminisces-about-something-and-misses-you-and-at-the-same-time-they-truly-know-you-and-love-you-no-matter-how-far-they-are-SVj-sub-1 {
      }
    }
    .rectangle-10-7Nu {
      left: 2.046rem;
      top: 83rem;
      background-color: #d9d9d9;
      width: 23.9675rem;
      height: 35.8rem;
      position: absolute;
    }
    .n-1-FED {
      width: 20.6549rem;
      height: 28.2rem;
      position: absolute;
      left: 3.7997rem;
      top: 86.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .jayjay-1-xuK {
      position: absolute;
      left: 57.4831rem;
      top: 39.6rem;
      object-fit: cover;
      vertical-align: top;
      width: 29.521rem;
      height: 27.6rem;
    }
    .jayjay2-1-6kd {
      vertical-align: top;
      width: 13.8349rem;
      height: 16.4rem;
      position: absolute;
      left: 89.6346rem;
      top: 39.5rem;
      object-fit: cover;
    }
    .n-1-SJh {
      object-fit: cover;
      vertical-align: top;
      width: 19.2909rem;
      height: 26.7rem;
      position: absolute;
      left: 31.2747rem;
      top: 51.4rem;
    }
    .n-1-YsX {
      object-fit: cover;
      vertical-align: top;
      width: 48.4222rem;
      height: 36.9rem;
      position: absolute;
      left: 57.4831rem;
      top: 74.3rem;
    }
    .rectangle-11-GHj {
      left: 108.8281rem;
      top: 124.8rem;
      background-color: #d9d9d9;
      width: 29.6559rem;
      height: 48.9795rem;
      position: absolute;
    }
    .jayjay3-1-bL1 {
      height: 40.4934rem;
      position: absolute;
      left: 110.8742rem;
      top: 127.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 23.8761rem;
    }
    .synesthesia-by-mayonaisse-has-been-my-healing-song-from-its-melody-to-the-way-it-conveys-to-the-listener-the-endurance-of-waiting-without-assurance-how-long-could-you-wait-for-the-hopeful-dream-to-come-true-ivR {
      height: 36.5rem;
      position: absolute;
      top: 24.7rem;
      font-size: 2.4rem;
      line-height: 1.3025;
      width: 29.7rem;
      left: 106.6847rem;
      font-weight: 400;
      color: #110505;
      font-family: Inika, 'Source Sans Pro';

      .synesthesia-by-mayonaisse-has-been-my-healing-song-from-its-melody-to-the-way-it-conveys-to-the-listener-the-endurance-of-waiting-without-assurance-how-long-could-you-wait-for-the-hopeful-dream-to-come-true-ivR-sub-0 {
        font-weight: 400;
        line-height: 1.3025;
        color: #110505;
        font-family: Inika, 'Source Sans Pro';
        font-size: 6.4rem;
      }
      .synesthesia-by-mayonaisse-has-been-my-healing-song-from-its-melody-to-the-way-it-conveys-to-the-listener-the-endurance-of-waiting-without-assurance-how-long-could-you-wait-for-the-hopeful-dream-to-come-true-ivR-sub-1 {
      }
    }
    .tt-was-my-graduation-day-i-received-a-high-honor-when-finishing-my-senior-year-but-i-wasnt-happy-because-of-a-lot-of-instances-i-really-hated-that-day-because-of-how-things-sabotaged-me-all-in-all-i-conclude-that-it-was-a-flex-for-things-i-ended-up-doing-that-day-my-school-year-was-a-total-rough-road-for-me-and-im-glad-i-survived-Ndb {
      width: 48.4rem;
      height: 33.4rem;
      top: 115rem;
      font-weight: 400;
      position: absolute;
      left: 57.4831rem;
      font-size: 2.4rem;
      line-height: 1.3025;
      color: #292420;
      font-family: Inika, 'Source Sans Pro';

      .tt-was-my-graduation-day-i-received-a-high-honor-when-finishing-my-senior-year-but-i-wasnt-happy-because-of-a-lot-of-instances-i-really-hated-that-day-because-of-how-things-sabotaged-me-all-in-all-i-conclude-that-it-was-a-flex-for-things-i-ended-up-doing-that-day-my-school-year-was-a-total-rough-road-for-me-and-im-glad-i-survived-Ndb-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #292420;
        font-family: Inika, 'Source Sans Pro';
      }
      .tt-was-my-graduation-day-i-received-a-high-honor-when-finishing-my-senior-year-but-i-wasnt-happy-because-of-a-lot-of-instances-i-really-hated-that-day-because-of-how-things-sabotaged-me-all-in-all-i-conclude-that-it-was-a-flex-for-things-i-ended-up-doing-that-day-my-school-year-was-a-total-rough-road-for-me-and-im-glad-i-survived-Ndb-sub-1 {
      }
    }
    .synesthesia-is-an-image-sense-as-you-see-something-it-reminded-of-someone-a-living-nostalgia-k1s {
      font-size: 2.4rem;
      font-weight: 400;
      color: #110505;
      position: absolute;
      left: 91.0961rem;
      top: 56.1rem;
      font-family: Inika, 'Source Sans Pro';
      width: 39.2rem;
      height: 14.6rem;
      line-height: 1.3025;

      .synesthesia-is-an-image-sense-as-you-see-something-it-reminded-of-someone-a-living-nostalgia-k1s-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #110505;
        font-family: Inika, 'Source Sans Pro';
      }
      .synesthesia-is-an-image-sense-as-you-see-something-it-reminded-of-someone-a-living-nostalgia-k1s-sub-1 {
      }
    }
    .rectangle-13-7Wd {
      width: 51.4425rem;
      height: 47.1rem;
      position: absolute;
      left: 3.3126rem;
      top: 130.7rem;
      background-color: #d9d9d9;
    }
    .pretty-girls-love-reading-books-T4h {
      font-family: Inika, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      font-weight: 400;
      line-height: 1.3025;
      width: 39.7rem;
      height: 8.4rem;
      position: absolute;
      left: 0.682rem;
      top: 117.2rem;
      font-size: 2.4rem;
      color: #000000;
      display: flex;

      .pretty-girls-love-reading-books-T4h-sub-0 {
        font-family: Inika, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
      }
      .pretty-girls-love-reading-books-T4h-sub-1 {
      }
    }
    .rectangle-14-eey {
      left: 58.4574rem;
      top: 152.1rem;
      background-color: #d9d9d9;
      width: 48.0325rem;
      height: 41.9rem;
      position: absolute;
    }
    .jayjay7-1-nmB {
      height: 39.6rem;
      position: absolute;
      left: 5.3586rem;
      top: 133.8rem;
      object-fit: cover;
      vertical-align: top;
      width: 47.0582rem;
    }
    .no-1-Xim {
      width: 43.0636rem;
      height: 38.3rem;
      position: absolute;
      left: 60.9905rem;
      top: 154.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .moths-and-butterflies-fascinate-me-so-much-because-theyre-those-insects-who-can-fly-yet-cant-flee-further-theyre-just-trapped-in-their-beauty-in-a-short-span-of-time-then-sadly-die-after-days-theyre-those-beautiful-things-that-are-easily-forgotten-because-of-their-uncertain-events-4ih {
      width: 23.9rem;
      height: 52.1rem;
      position: absolute;
      top: 71.7rem;
      font-family: Inika, 'Source Sans Pro';
      left: 110.4844rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;

      .moths-and-butterflies-fascinate-me-so-much-because-theyre-those-insects-who-can-fly-yet-cant-flee-further-theyre-just-trapped-in-their-beauty-in-a-short-span-of-time-then-sadly-die-after-days-theyre-those-beautiful-things-that-are-easily-forgotten-because-of-their-uncertain-events-4ih-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .moths-and-butterflies-fascinate-me-so-much-because-theyre-those-insects-who-can-fly-yet-cant-flee-further-theyre-just-trapped-in-their-beauty-in-a-short-span-of-time-then-sadly-die-after-days-theyre-those-beautiful-things-that-are-easily-forgotten-because-of-their-uncertain-events-4ih-sub-1 {
      }
    }
    .i-love-reading-books-because-they-are-wholesome-both-asylum-and-sanctuary-it-always-fascinates-me-about-the-unravel-pages-the-fragrance-of-the-new-book-and-how-imaginative-all-the-authors-are-i-salute-them-for-making-my-kind-of-drug-h9P {
      height: 45.9rem;
      position: absolute;
      line-height: 1.3025;
      font-weight: 400;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      width: 22.3rem;
      left: 30.203rem;
      top: 80rem;
      font-size: 2.4rem;

      .i-love-reading-books-because-they-are-wholesome-both-asylum-and-sanctuary-it-always-fascinates-me-about-the-unravel-pages-the-fragrance-of-the-new-book-and-how-imaginative-all-the-authors-are-i-salute-them-for-making-my-kind-of-drug-h9P-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .i-love-reading-books-because-they-are-wholesome-both-asylum-and-sanctuary-it-always-fascinates-me-about-the-unravel-pages-the-fragrance-of-the-new-book-and-how-imaginative-all-the-authors-are-i-salute-them-for-making-my-kind-of-drug-h9P-sub-1 {
      }
    }
    .tell-me-who-your-friends-are-and-i-will-tell-you-who-you-are-ive-been-years-with-these-amazing-humans-i-know-they-know-me-so-well-in-that-7-year-span-with-them-i-am-certain-i-want-to-tie-my-knot-with-them-and-do-all-i-can-to-protect-them-wC9 {
      height: 24rem;
      left: 3.41rem;
      top: 176.9rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #000000;
      width: 53.4rem;
      position: absolute;
      font-size: 2.4rem;
      font-family: Inika, 'Source Sans Pro';

      .tell-me-who-your-friends-are-and-i-will-tell-you-who-you-are-ive-been-years-with-these-amazing-humans-i-know-they-know-me-so-well-in-that-7-year-span-with-them-i-am-certain-i-want-to-tie-my-knot-with-them-and-do-all-i-can-to-protect-them-wC9-sub-0 {
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
      }
      .tell-me-who-your-friends-are-and-i-will-tell-you-who-you-are-ive-been-years-with-these-amazing-humans-i-know-they-know-me-so-well-in-that-7-year-span-with-them-i-am-certain-i-want-to-tie-my-knot-with-them-and-do-all-i-can-to-protect-them-wC9-sub-1 {
      }
    }
    .being-talentless-sucks-i-mean-its-a-wholesome-complex-battling-where-you-actually-belong-i-learned-the-keys-to-the-piano-in-7th-grade-but-eventually-stopped-my-passion-to-do-so-but-i-am-certain-i-could-play-this-instrument-in-my-possession-dDP {
      width: 55.8rem;
      position: absolute;
      top: 192.4rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #000000;
      height: 24rem;
      left: 63.0365rem;
      line-height: 1.3025;
      font-family: Inika, 'Source Sans Pro';

      .being-talentless-sucks-i-mean-its-a-wholesome-complex-battling-where-you-actually-belong-i-learned-the-keys-to-the-piano-in-7th-grade-but-eventually-stopped-my-passion-to-do-so-but-i-am-certain-i-could-play-this-instrument-in-my-possession-dDP-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .being-talentless-sucks-i-mean-its-a-wholesome-complex-battling-where-you-actually-belong-i-learned-the-keys-to-the-piano-in-7th-grade-but-eventually-stopped-my-passion-to-do-so-but-i-am-certain-i-could-play-this-instrument-in-my-possession-dDP-sub-1 {
      }
    }
    .my-flex-page-is-full-of-uncertain-stuff-that-meant-so-much-to-me-so-welcome-to-my-flex-page-to-venture-into-the-life-inside-my-mind-725 {
      top: 22.1rem;
      font-size: 2.4rem;
      width: 50rem;
      height: 14.6rem;
      left: 50.5656rem;
      color: #000000;
      font-family: Inika, 'Source Sans Pro';
      position: absolute;
      font-weight: 400;
      line-height: 1.3025;

      .my-flex-page-is-full-of-uncertain-stuff-that-meant-so-much-to-me-so-welcome-to-my-flex-page-to-venture-into-the-life-inside-my-mind-725-sub-0 {
        font-size: 6.4rem;
        font-weight: 400;
        line-height: 1.3025;
        color: #000000;
        font-family: Inika, 'Source Sans Pro';
      }
      .my-flex-page-is-full-of-uncertain-stuff-that-meant-so-much-to-me-so-welcome-to-my-flex-page-to-venture-into-the-life-inside-my-mind-725-sub-1 {
      }
    }
    .line-3-fSu {
      position: absolute;
      left: 3.7023rem;
      top: 15.7rem;
      background-color: #000000;
      width: 136.5954rem;
      height: 0.1rem;
    }
  }
}
